PGHOST=/run/postgresql
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=s3cr3t
TABLE_PREFIX=
HOST=127.0.0.1
PORT=3000
BASE_URL=http://localhost:3000
TOKEN_COOKIE_NAME=kas-account-token
TOKEN_COOKIE_DOMAIN=.keeer.net
TOKEN_CLEAR_INTERVAL=10000
TOKEN_MAXAGE=6048000000
GA_ID=UA-123456789-0
GITEA_API_SECRET=233
REAL_IP_HEADER=X-Forwarded-For
GLOBAL_LIMIT_HITS=
GLOBAL_LIMIT_AGE=
SMS_LIMIT_HITS=6
SMS_LIMIT_AGE=60000
EMAIL_LIMIT_HITS=6
EMAIL_LIMIT_AGE=60000
ALI_OSS_ACCESS_KEY_ID=
ALI_OSS_ACCESS_KEY_SECRET=
ALI_OSS_REGION=oss-cn-beijing
ALI_OSS_BUCKET=nonprod-nodekas-devel
ALI_OSS_AVATAR_PREFIX=avatar/
ALI_OSS_ASSETS_PREFIX=assets/
ALI_SMS_ACCESS_KEY_ID=
ALI_SMS_ACCESS_KEY_SECRET=
ALI_SMS_SIGN_NAME=客页KEEER
ALI_SMS_TEMPLATE_CODE_GENERAL=SMS_151576389
ALI_SMS_TEMPLATE_CODE_VERIFICATION=SMS_163056992
ALI_SMS_TEMPLATE_CODE_FIND_BACK_PASSWORD=SMS_164265850
ALI_SMS_TEMPLATE_CODE_SET_PHONE_NUMBER=SMS_172223085
SMS_CLEAR_INTERVAL=10000
SMS_INTERVAL=60000
SMS_MAXAGE=300000
SMTP_HOST=smtp.your.domain.tld
SMTP_PORT=465
SMTP_USER=noreply@your.domain.tld
SMTP_PASS=s3cr3t
SMTP_FROM_ADDRESS="KEEER Account Service" <noreply@your.domain.tld>
EMAIL_CLEAR_INTERVAL=60000
EMAIL_INTERVAL=60000
EMAIL_MAXAGE=86400000
PAYJS_MCHID=
PAYJS_KEY=
PAYJS_ORDER_PREFIX=nodekas_
PAYJS_LOGO_URL=https://keeer.net/img/logo/light-square.jpg
