<template>
  <div id="wrapper">
    <v-btn icon class="back" @click="back"><v-icon>mdi-arrow-left</v-icon></v-btn>
    <main>
      <h1>KEEER 帐号服务协议</h1>
      <content>
        <p>为使用 KEEER 帐号服务（以下简称“KAS”），您应当阅读并遵守《KEEER 帐号服务协议》（以下简称“本协议”，和《KEEER 帐号服务隐私政策》。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制 KAS 责任的条款、对用户权利进行限制的条款、约定争议解决方式和司法管辖的条款等，以及开通或使用某项服务的单独协议或规则。限制、免责条款或者其他涉及您重大权益的条款可能以加粗、加下划线等形式提示您重点注意。</p>
        <p>除非您已充分阅读、完全理解并接受本协议所有条款，否则您无权使用 KAS 服务。您点击“同意”或“下一步”，或您使用 KAS 服务，或者以其他任何明示或者默示方式表示接受本协议的，均视为您已阅读并同意签署本协议。本协议即在您与 KAS 之间产生法律效力，成为对双方均具有约束力的法律文件。</p>
        <p>如果您因年龄、智力等因素而不具有完全民事行为能力，请在法定监护人（以下简称“监护人”）的陪同下阅读和判断是否同意本协议，并特别注意未成年人使用条款。</p>
        <p>如果您是中国大陆地区以外的用户，您订立或履行本协议还需要同时遵守您所属和/或所处国家或地区的法律。</p>
        <h2>一、【协议的范围】 </h2>
        <ol>
          <li><span class="item">1.1</span>本协议是用户与 KAS 之间关于其使用 KAS 的服务所订立的协议。“KAS”是指 KAS 和/或其相关服务可能存在的运营关联单位。“用户”是指 KAS 的服务的使用人，在本协议中更多地称为“您”。</li>
        </ol>
        <h2>二、【帐号与密码安全】 </h2>
        <ol>
          <li><span class="item">2.1</span>您在使用本服务时可能需要注册一个帐号。</li>
          <li>
            <span class="item">2.2</span>KAS
            特别提醒您应妥善保管您的帐号和密码。当您使用完毕后，应安全退出。因您保管不善可能导致遭受被盗号或密码失窃，责任由您自行承担。您应对任何人利用您的帐号及密码所进行的活动完全负责，KAS
            无法对非法或未经您授权使用您帐号及密码的行为作出甄别，因此 KAS 将不承担任何责任。同时您同意并承诺做到：
            <ol>
              <li><span class="item">2.2.1</span>当您的帐号或密码遭到未经授权的使用，或者发生任何安全问题时，您会立即有效地通知到 KAS；</li>
              <li><span class="item">2.2.2</span>当您每次登录 KAS 或使用相关服务后，会将有关帐号等安全退出；</li>
              <li><span class="item">2.2.3</span>您同意接受 KAS 通过电子邮件、客户端、网页或其他合法方式向您发送通知信息和其他相关信息；</li>
            </ol>
          </li>
          <li>
            <span class="item">2.3</span>您承诺不在注册、使用 KAS 帐号从事以下行为：
            <ol>
              <li><span class="item">2.3.1</span>故意冒用他人信息为自己注册 KAS 帐号；</li>
              <li><span class="item">2.3.2</span>未经他人合法授权以他人名义注册 KAS 帐号；</li>
              <li><span class="item">2.3.3</span>窃取、盗用他人的 KAS 帐号、Kredit、会员标识等；</li>
              <li><span class="item">2.3.4</span>使用侮辱、诽谤、色情、政治等违反法律、道德及公序良俗的词语注册 KAS 帐号；</li>
              <li><span class="item">2.3.5</span>以非法占有 KAS 相关服务资源为目的，通过正当或非正当手段恶意利用网站漏洞；</li>
              <li><span class="item">2.3.6</span>侵犯他人合法权益的其他内容。</li>
            </ol>
          </li>
          <li><span class="item">2.4</span>您在此同意，KAS 有权对违反上述条款的用户作出禁止注册及/或封号的处理。</li>
          <li><span class="item">2.5</span>您了解并知悉，您可以您的 KAS 帐号登录 KAS 及其关联方提供的 KAS 体系下全部产品。</li>
          <li><span class="item">2.6</span>为增强用户体验和/或技术便利，本服务的帐号可能包括数字、字母或者其组合，以及手机号码、电子信箱等多种形式。在您注册某一形式的帐号时，KAS 可能附赠该帐号的另一表现形式。具体的帐号形式、帐号体系及帐号之间的关联关系等，以 KAS 实际提供的为准。</li>
        </ol>
        <h2>三、【用户个人信息保护】 </h2>
        <ol>
          <li><span class="item">3.1</span>保护用户个人信息是 KAS 的一项基本原则。</li>
          <li><span class="item">3.2</span>您在注册帐号或使用本服务的过程中，可能需要填写一些必要的信息。若国家法律法规有特殊规定的，您需要填写真实的身份信息。若您填写的信息不完整，则可能无法使用本服务或在使用过程中受到限制。</li>
          <li><span class="item">3.4</span>KAS 将尽可能运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。</li>
          <li>
            <span class="item">3.5</span>KAS 不会将您的个人信息转移或披露给任何第三方，除非：
            <ol>
              <li><span class="item">（1）</span>相关法律法规或司法机关、行政机关要求。</li>
              <li><span class="item">（2）</span>为完成合并、分立、收购或资产转让而转移。</li>
              <li><span class="item">（3）</span>为提供您要求的服务所必需。</li>
              <li><span class="item">（4）</span>依据《KAS 隐私政策》或其他相关协议规则可以转移或披露给任何第三方的情形。</li>
            </ol>
          </li>
          <li><span class="item">3.6</span>KAS 非常重视对未成年人个人信息的保护。若您不具备完全民事行为能力，在使用 KAS 的服务前，应事先取得您的监护人的同意。</li>
        </ol>
        <h2>四、【使用本服务的方式】 </h2>
        <ol>
          <li><span class="item">4.1</span>本服务仅为您个人非商业性质的使用，除非您与 KAS 另有约定。</li>
          <li><span class="item">4.2</span>您依本协议条款所取得的权利不可转让。</li>
          <li><span class="item">4.3</span>您不得使用任何方式（包括但不限于第三方软件、插件、外挂、系统、设备等）对本服务进行干扰、破坏、修改或施加其他影响。</li>
          <li><span class="item">4.4</span>您应当通过 KAS 提供或认可的方式使用本服务，不得通过任何第三方软件、插件、外挂、系统、设备等登录或使用本服务。</li>
        </ol>
        <h2>五、【按现状提供服务】 </h2>
        <p class="noindent">您理解并同意：</p>
        <ol>
          <li><span class="item">5.1</span>本服务是按照现有技术和条件所能达到的现状提供的。KAS 会尽最大努力保障服务的连贯性和安全性，但 KAS 不能随时预见和防范法律、技术以及其他风险，KAS 对此类风险在法律允许的范围内免责，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。</li>
          <li><span class="item">5.2</span>因经营策略安排或调整等原因,不同地区的用户可使用的具体 KAS 服务的内容可能会存在差异，具体以 KAS 实际提供的为准。</li>
        </ol>
        <h2>六、【自备设备】 </h2>
        <ol>
          <li><span class="item">6.1</span>您应当理解，您使用本服务需自行准备与相关服务有关的终端设备（如电脑、移动终端和必要的网络接入设备等装置），并承担所需的费用（如电话费、上网费等费用）。</li>
          <li><span class="item">6.2</span>您理解并同意，您使用本服务时会耗用您的终端设备和带宽等资源。</li>
        </ol>
        <h2>七、【使用规则】 </h2>
        <ol>
          <li><span class="item">7.1</span>用户在使用 KAS 服务的过程中，应遵守以下法律法规：</li>
          <ol>
            <li><span class="item">7.1.1</span>《中华人民共和国保守国家秘密法》</li>
            <li><span class="item">7.1.2</span>《中华人民共和国著作权法》</li>
            <li><span class="item">7.1.3</span>《中华人民共和国计算机信息系统安全保护条例》</li>
            <li><span class="item">7.1.4</span>《计算机软件保护条例》</li>
            <li><span class="item">7.1.5</span>《互联网电子公告服务管理规定》</li>
            <li><span class="item">7.1.6</span>《信息网络传播权保护条例》</li>
            <li><span class="item">7.1.7</span>《中华人民共和国网络安全法》</li>
            <li><span class="item">7.1.8</span>其他有关计算机及互联网规定的法律、法规。</li>
          </ol>
          <li><span class="item">7.2</span>在任何情况下，KAS 一旦合理地认为用户的行为可能违反上述法律、法规，可以在任何时候，不经事先通知终止向该用户提供服务。</li>
          <li>
            <span class="item">7.3</span>禁止用户从事以下行为：
            <ol>
              <li><span class="item">7.3.1</span>制作、上传、复制、传送、传播包含任何反对宪法所确定的基本原则、危害国家安全、泄露国家秘密、颠覆国家政权、破坏国家统一、破坏民族团结、损害国家荣誉和利益、煽动民族仇恨、民族歧视、破坏民族团结、破坏国家宗教政策、宣扬邪教和封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪、侮辱或者诽谤他人，侵害他人合法权益的等法律、行政法规禁止的内容或其他令人反感的包括但不限于资讯、资料、文字、软件、音乐、照片、图形、信息或其他资料；</li>
            </ol>
          </li>
          <li>
            <span class="item">7.4</span>Kredit 使用规则
            <ol>
              <li><span class="item">7.4.1</span>若无特殊说明，用户通过充值获得的 Kredit、兑换物品等虚拟产品，具体使用方法、期限等以KAS页面中附带的说明及用户指南或具备以上解说性质的类似官方文档为准。</li>
              <li><span class="item">7.4.2</span>Kredit 系统会因用户需求、网站策略调整、用户接受程度等因素随时进行调整，具体信息请以当时的页面说明为准。</li>
              <li><span class="item">7.4.3</span>Kredit 系统是 KAS 向用户提供的免费服务，Kredit 的使用、消耗、兑换、抽奖等行为均不提供发票或其他票据证明。</li>
              <li><span class="item">7.4.4</span>基于虚拟商品的性质和特征，KAS 不提供 Kredit 兑换的虚拟商品的退货、换货服务。对于实物产品，因用户原因导致产品出现瑕疵、损坏的，KAS 不予负责。</li>
              <li><span class="item">7.4.5</span>除非得到 KAS 的书面授权，用户不得将 Kredit 服务及 Kredit 用于商业领域，包括但不限于买卖、置换、抵押或以特定方式使用 Kredit 服务获取不当得利等。任何用户都应通过正规渠道获得 Kredit 服务，一切通过非官方公布渠道取得的 Kredit 及其衍生服务均不对 KAS 发生法律效力，KAS 有权单方面收回相关 Kredit 并终止相应服务，严重者 KAS 有权对其用户采取封号处理。</li>
              <li><span class="item">7.4.6</span>如无特殊约定，用户通过正规渠道获得的 Kredit 及其衍生物品均不以任何现金方式退还，仅能通过享用 Kredit 服务进行等值消耗。用户消耗其所获得全部 Kredit，且不将继续使用 Kredit 服务的，服务终止。</li>
            </ol>
          </li>
        </ol>
        <h2>八、【服务费用】 </h2>
        <ol>
          <li><span class="item">8.1</span>KAS 的部分服务是以收费方式提供的，如您使用收费服务，请遵守相关的协议。</li>
          <li><span class="item">8.2</span>KAS 可能根据实际需要对收费服务的收费标准、方式进行修改和变更，KAS 也可能会对部分免费服务开始收费。前述修改、变更或开始收费前，KAS 将在相应服务页面进行通知或公告。如果您不同意上述修改、变更或付费内容，则应停止使用该服务。</li>
          <li><span class="item">8.3</span>在 KAS 降低收费服务的收费标准或者将收费服务改为免费服务提供时，KAS 保留不对原付费用户提供退费或者费用调整之权利。</li>
        </ol>
        <h2>九、【隐私协议】 </h2>
        <p class="noindent">通常情况下，我们会在以下场景中收集和使用您的个人信息：</p>
        <ol>
          <li>
            <span class="item">9.1</span>帐号注册
            <ol>
              <li><span class="item">（1）</span>您注册并登录 KAS 帐号时，需要按照我们的指引完成一系列注册程序，在此过程中，您需要向我们提供以下信息：帐号昵称、手机号码或电子邮箱（个人敏感信息，用于接受验证码匹配个人身份）。您只有提供真实准确的上述信息，才能成功注册 KAS 帐号并使用产品和/或服务的核心功能。如果您选择不提供上述为实现 KAS 核心产品功能的必备信息，或将导致我们无法为您提供该核心产品功能。</li>
              <li><span class="item">（2）</span>同时，您需理解，手机号码或电子邮箱地址和验证码匹配结果属于您的个人敏感信息，我们收集该类信息是基于法律法规的相关要求，如您拒绝提供可能导致您无法注册帐号并使用相关产品功能，请您谨慎考虑后再选择是否提供。</li>
              <li><span class="item">（3）</span>我们的专业安全团队对个人信息将进行安全加固（包括敏感信息报备、敏感信息加密存储、访问权限控制等）。我们会使用不低于我们对自身用户个人信息同等的保护手段与措施对间接获取的个人信息进行保护。</li>
            </ol>
          </li>
          <li><span class="item">9.2</span>支付</li>
          <li>当您在 KAS 上充值时，需要使用到支付功能。在支付过程中，我们及我们所使用的第三方支付平台可能会收集您的第三方支付渠道的 user ID（例如支付宝 user ID、微信 open ID、QQ 钱包 open ID 或银行卡信息）（个人敏感信息）。上述信息为我们向您提供您购买商品和/或服务所必须的信息，我们无法仅根据该信息获得您的个人财产信息，也不能识别特定自然人身份信息。</li>
          <li>
            <span class="item">9.3</span>出于其他合理且必要的目的
            <ol>
              <li><span class="item">（1）</span>如前文所述，如果某一需要收集您的个人信息的功能或产品/服务未能在本隐私政策中予以说明的，或者我们超出了与收集您的个人信息时所声称的目的及具有直接或合理关联范围的，我们将在收集和使用你的个人信息前，通过更新本隐私政策、页面提示、弹窗、站内信、网站公告或其他便于您获知的方式另行向您说明，并为您提供自主选择同意的方式，且在征得您明示同意后收集和使用。</li>
              <li>
                <span class="item">（2）</span>您理解并同意，在以下情况下，我们无需取得您的授权同意即可收集和使用您的个人信息：
                <ol>
                  <li><span class="item">a）</span>与国家安全、国防安全有关的；</li>
                  <li><span class="item">b）</span>与公共安全、公共卫生、重大公共利益有关的；</li>
                  <li><span class="item">c）</span>与犯罪侦查、起诉、审判和判决执行等直接相关的；</li>
                  <li><span class="item">d）</span>出于维护您或其他个人的生命、财产等重大合法权益但又很难得到您本人同意的；</li>
                  <li><span class="item">e）</span>所收集的信息是您自行向社会公开的或者是从合法公开的渠道（如合法的新闻报道、政府信息公开等渠道）中收集到的；</li>
                  <li><span class="item">f）</span>根据与您签订和履行相关协议或其他书面文件所必需的；</li>
                  <li><span class="item">g）</span>用于维护我们的产品与/或服务的安全稳定运行所必需的，例如发现、处置产品与/或服务的故障； h)有权机关的要求、法律法规等规定的其他情形。</li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            <span class="item">9.4</span>公开披露
            <ol>
              <li>
                <span class="item">（1）</span>
                公开披露是指向社会或不特定人群发布信息的行为。除了因需要对违规帐号、欺诈行为等进行处罚公告、公布中奖/获胜者等名单时脱敏展示相关信息等必要事宜而进行的必要披露外，我们不会对您的个人信息进行公开披露，如具备合理事由确需公开披露的，我们会在公开披露前向您告知公开披露的信息的目的、类型（如涉及您的个人敏感信息的，我们还会向您告知涉及的敏感信息的内容），并在征得您的授权同意后再公开披露，但法律法规另有规定的或本政策另有约定的除外。
              </li>
              <li><span class="item">（2）</span>对于公开披露的您的个人信息，我们会在收到公开披露申请后第一时间且审慎审查其正当性、合理性、合法性，并在公开披露时和公开披露后采取最严格个人信息安全保护措施和手段对其进行保护。</li>
            </ol>
          </li>
          <li>
            <span class="item">9.5</span>公开披露您的个人信息的例外
            <p class="noindent">请您知悉， 根据法律法规的规定，在下述情况下，共享、转让、公开披露您的个人信息无需事先征得您的授权同意：</p>
            <ol>
              <li><span class="item">1）</span>与国家安全、国防安全直接相关的；</li>
              <li><span class="item">2）</span>与公共安全、公共卫生、重大公共利益直接相关的；</li>
              <li><span class="item">3）</span>与犯罪侦查、起诉、审判和判决执行等直接相关的；或根据法律法规的要求、行政机关或公检法等有权机关的要求的；</li>
              <li><span class="item">4）</span>出于维护您或其他个人的生命、财产等重大合法权益但又很难得到您本人同意的；</li>
              <li><span class="item">5）</span>个人信息是您自行向社会公开的或者是从合法公开的渠道（如合法的新闻报道、政府信息公开等渠道）中收集到的；</li>
              <li><span class="item">6）</span>根据与您签订和履行相关协议或其他书面文件所必需的；</li>
              <li><span class="item">7）</span>法律法规等规定的其他情形。</li>
            </ol>
          </li>
          <li><span class="item">9.6</span>我们对未成年人的保护</li>
          <ol>
            <li>
              <span class="item">（1）</span>未成年人使用我们的产品与/或服务前应取得其监护人的同意。如您为未成年人，在使用我们的产品与/或服务前，应在监护人监护、指导下共同阅读本隐私政策且应在监护人明确同意和指导下使用我们的产品与/或服务、提交个人信息。我们根据国家相关法律法规的规定保护未成年人的个人信息，只会在法律法规允许、监护人明确同意或保护您的权益所必要的情况下收集、使用或公开披露未成年人的个人信息。
            </li>
            <li><span class="item">（2）</span>若您是未成年人的监护人，当您对您所监护的未成年人的个人信息有相关疑问时，您可以向 feedback@keeer.net 邮箱发送邮件我们沟通解决。如果我们发现在未事先获得可证实的监护人同意的情况下收集了未成年人的个人信息，则会尽快删除相关数据。</li>
          </ol>
          <li>
            <span class="item">9.7</span>本政策如何更新<ol>
              <li><span class="item">（1）</span>为了给您提供更好的服务，我们会根据产品的更新情况及法律法规的相关要求更新本《隐私政策》的条款，该等更新构成本《隐私政策》的一部分。未经您明确同意，我们不会削减您按照本政策所应享有的权利。如该等更新造成您在本《隐私政策》下权利的实质减少或重大变更，我们将在本政策生效前通过在显著位置提示或向您发送推送消息或以其他方式通知您，若您继续使用我们的服务，即表示您充分阅读、理解并同意受经修订的《隐私政策》的约束。</li>
              <li>
                <span class="item">（2）</span>重大变更包括但不限于：
                <ol>
                  <li><span class="item">a）</span>我们的服务模式发生重大变化。如处理个人信息的目的、处理的个人信息类型、个人信息的使用方式等；</li>
                  <li><span class="item">b）</span>我们在所有权结构、组织架构等方面发生重大变化。如业务调整、破产并购等引起的所有者变更等；</li>
                  <li><span class="item">c）</span>个人信息共享、转让或公开披露的主要对象发生变化；</li>
                  <li><span class="item">d）</span>您参与个人信息处理方面的权利及其行使方式发生重大变化；</li>
                  <li><span class="item">e）</span>我们负责处理个人信息安全的责任部门、联络方式及投诉渠道发生变化；</li>
                  <li><span class="item">f）</span>个人信息安全影响评估报告表明存在高风险时。</li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
        <h2>十、【基于软件提供服务】 </h2>
        <p class="noindent">若 KAS 依托“软件”向您提供服务，您还应遵守以下约定：</p>
        <ol>
          <li><span class="item">10.1</span>您在使用本服务的过程中可能需要下载软件，对于这些软件，KAS 给予您一项个人的、不可转让及非排他性的许可。您仅可为使用本服务的目的而使用这些软件。</li>
          <li><span class="item">10.2</span>为了改善用户体验、保障服务的安全性及产品功能的一致性等目的，KAS 可能会对软件进行更新。您应该将相关软件更新到最新版本，否则 KAS 并不保证软件或服务能正常使用。</li>
          <li><span class="item">10.3</span>KAS 可能为不同的终端设备开发不同的软件版本，您应当根据实际情况选择下载合适的版本进行安装。您可以直接从 KAS 平台上获取软件，也可以从得到 KAS 授权的第三方获取。如果您从未经 KAS 授权的第三方获取软件或与软件名称相同的安装程序，KAS 无法保证该软件或服务能够正常使用，并对因此给您造成的损失不予负责。</li>
          <li>
            <span class="item">10.4</span>除非 KAS 书面许可，您不得从事下列任一行为：
            <ol>
              <li><span class="item">（1）</span>删除软件及其副本上关于著作权的信息。</li>
              <li><span class="item">（2）</span>对软件进行反向工程、反向汇编、反向编译，或者以其他方式尝试发现软件的源代码。</li>
              <li><span class="item">（3）</span>对 KAS 拥有知识产权的内容进行使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版、建立镜像站点等。</li>
              <li><span class="item">（4）</span>对软件或者软件运行过程中释放到任何终端内存中的数据、软件运行过程中客户端与服务器端的交互数据，以及软件运行所必需的系统数据，进行复制、修改、增加、删除、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非经 KAS 授权的第三方工具/服务接入软件和相关系统。</li>
              <li><span class="item">（5）</span>通过修改或伪造软件运行中的指令、数据等任何方式，增加、删减、变动软件的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论这些行为是否为商业目的。</li>
              <li><span class="item">（6）</span>通过非 KAS 开发、授权的第三方软件、插件、外挂、系统、设备等任何方式，登录或使用 KAS 软件及服务，或制作、发布、传播非 KAS 开发、授权的用于登录或使用 KAS 软件及服务的第三方软件、插件、外挂、系统、设备等。</li>
            </ol>
          </li>
        </ol>
        <h2>十一、【用户违法违规行为】 </h2>
        <ol>
          <li>
            <span class="item">11.1</span>您在使用本服务时须遵守法律法规，不得制作、复制、发布、传播含有下列内容的信息或从事相关行为，也不得为制作、复制、发布、传播含有下列内容的信息或从事相关行为提供便利：
            <ol>
              <li><span class="item">（1）</span>反对宪法所确定的基本原则的。</li>
              <li><span class="item">（2）</span>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的。</li>
              <li><span class="item">（3）</span>损害国家荣誉和利益的。</li>
              <li><span class="item">（4）</span>煽动民族仇恨、民族歧视，破坏民族团结的。</li>
              <li><span class="item">（5）</span>破坏国家宗教政策，宣扬邪教和封建迷信的。</li>
              <li><span class="item">（6）</span>散布谣言，扰乱社会秩序，破坏社会稳定的。</li>
              <li><span class="item">（7）</span>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的。</li>
              <li><span class="item">（8）</span>侮辱或者诽谤他人，侵害他人合法权益的。</li>
              <li><span class="item">（9）</span>违反法律法规底线、社会主义制度底线、国家利益底线、公民合法权益底线、社会公共秩序底线、道德风尚底线和信息真实性底线的“七条底线”要求的。</li>
              <li><span class="item">（10）</span>相关法律法规或本协议、相关协议、规则等禁止的。</li>
            </ol>
          </li>
          <li><span class="item">11.2</span>如果您在使用本服务过程中违反了相关法律法规或本协议约定，相关国家机关或机构可能会对您提起诉讼、罚款或采取其他制裁措施，并要求 KAS 给予协助。因此给您或者他人造成损害的，您应自行承担全部责任，KAS 不承担任何责任。</li>
          <li><span class="item">11.3</span>如果您违反本协议约定，KAS 有权进行独立判断并采取相应措施，包括但不限于通过技术手段删除、屏蔽相关内容或断开链接等。同时，KAS 有权视用户的行为性质，采取包括但不限于暂停或终止向您提供服务，限制、中止、冻结或终止您对帐号的使用，追究法律责任等措施。</li>
          <li><span class="item">11.4</span>您违反本协议约定，导致任何主体损失的，您应当独立承担责任；KAS 因此遭受损失的，您也应当一并赔偿。</li>
        </ol>
        <h2>十二、【遵守当地法律监管】 </h2>
        <ol>
          <li><span class="item">12.1</span>您在使用本服务过程中应当遵守当地相关的法律法规，并尊重当地的道德和风俗习惯。如果您的行为违反了当地法律法规或道德风俗，您应当为此独立承担责任。</li>
          <li><span class="item">12.2</span>您应避免因使用本服务而使 KAS 违反法律法规或卷入政治和公共事件，否则 KAS 有权暂停或终止对您的服务。</li>
        </ol>
        <h2>十三、【广告】</h2>
        <ol />
        <h2>十四、【免责声明】 </h2>
        <ol>
          <li><span class="item">14.1</span>KAS 对于任何包含、经由或连接、下载或从任何与有关本网络服务所获得的任何内容、信息或广告，不声明或保证其正确性或可靠性；并且对于用户经本服务上的广告、展示而购买、取得的任何产品、信息或资料，KAS 不负保证责任。用户自行负担使用本服务的风险。</li>
          <li><span class="item">14.2</span>除非另有明确的书面说明，KAS 提供给您的全部产品和服务，均是在“按现状”和“按现有”的基础上提供的。</li>
          <li>
            <span class="item">14.3</span>KAS 对如下事项不做担保（包括但不限于）：
            <ol>
              <li><span class="item">14.3.1</span>KAS 提供的网站、客户端等软件虽然均已经过 KAS 测试，但由于技术本身的局限性，KAS 不能保证其与其他软硬件、系统完全兼容。如果出现不兼容的情况，用户可将情况报告 KAS，以获得技术支持。如果无法解决问题，用户可以选择卸载、停止使用 KAS 服务。</li>
              <li><span class="item">14.3.2</span>使用 KAS 服务涉及到 Internet 服务，可能会受到各个环节不稳定因素的影响。因不可抗力、黑客攻击、系统不稳定、网络中断、用户关机、通信线路等原因，均可能造成 KAS 服务中断或不能满足用户要求的情况。KAS 不保证 KAS 服务适合用户的使用要求。</li>
              <li><span class="item">14.3.3</span>由于 KAS 提供的客户端等软件可以通过网络途径下载、传播，因此对于从非 KAS 指定官方站点下载、非 KAS 指定途径获得的 KAS 服务相关软件，KAS 无法保证其是否感染计算机病毒、是否隐藏有伪装的木马程序等黑客软件，也不承担用户由此遭受的一切直接或间接损害赔偿等法律责任。</li>
              <li><span class="item">14.3.4</span>KAS 不做任何与 KAS 服务、产品的安全性、可靠性、及时性和性能有关的担保。</li>
              <li><span class="item">14.3.5</span>KAS 不保证其提供的任何产品、服务或其他材料符合用户的期望。</li>
            </ol>
          </li>
          <li><span class="item">14.4</span>用户使用经由 KAS 服务下载或取得的任何资料，其风险由用户自行负担，因该使用而导致用户电脑系统损坏或资料流失，用户应负完全责任。</li>
          <li>
            <span class="item">14.5</span>基于以下原因而造成的利润、商业信誉、资料损失或其他有形或无形损失，KAS 不承担任何直接、间接、附带、衍生或惩罚性的赔偿：
            <ol>
              <li><span class="item">14.5.1</span>KAS 服务全部或部分无法使用；</li>
              <li><span class="item">14.5.2</span>经由 KAS 服务购买或取得的任何产品、资料或服务；</li>
              <li><span class="item">14.5.3</span>用户资料遭到未授权的使用或修改；</li>
              <li><span class="item">14.5.4</span>其他与 KAS 服务相关的事宜。</li>
            </ol>
          </li>
          <li><span class="item">14.6</span>用户应妥善保管自己的帐号和密码，加强密码安全性，谨防帐号泄露或被盗。因用户帐号被泄露或被盗而造成的任何损失，KAS 不承担补偿责任。用户因电信和网通部门的通讯线路故障、网络或电脑故障、系统不稳定、不可抗力（如服务器当机）等非 KAS 原因造成帐号、帐号内财产等丢失、减少的，KAS 不承担补偿等责任。</li>
          <li><span class="item">14.7</span>用户理解并同意自主选择免费下载和使用 KAS 服务，风险自负，包括但不限于用户使用 KAS 服务过程中的行为，以及因使用 KAS 服务产生的一切后果。如因下载或使用 KAS 服务而对计算机系统造成的损坏或数据的丢失等，用户须自行承担全部责任。</li>
          <li><span class="item">14.8</span>用户因认证信息不真实而导致帐号、帐号内财产等丢失、减少而无法找回的，KAS 不承担任何法律责任。</li>
        </ol>
        <h2>十五、【不可抗力及其他免责事由】 </h2>
        <ol>
          <li><span class="item">15.1</span>您理解并同意，在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务受到影响。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，KAS 将努力在第一时间与相关单位配合，争取及时进行处理，但是由此给您造成的损失 KAS 在法律允许的范围内免责。</li>
          <li>
            <span class="item">15.2</span>在法律允许的范围内，KAS 对以下情形导致的服务中断或受阻不承担责任：
            <ol>
              <li><span class="item">（1）</span>受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏。</li>
              <li><span class="item">（2）</span>用户或 KAS 的电脑软件、系统、硬件和通信线路出现故障。</li>
              <li><span class="item">（3）</span>用户操作不当或用户通过非 KAS 授权的方式使用本服务。</li>
              <li><span class="item">（4）</span>程序版本过时、设备的老化和/或其兼容性问题。</li>
              <li><span class="item">（5）</span>其他 KAS 无法控制或合理预见的情形。</li>
            </ol>
          </li>
        </ol>
        <h2>十六、【协议的生效与变更】 </h2>
        <ol>
          <li><span class="item">16.1</span>您使用本服务即视为您已阅读本协议并接受本协议的约束。</li>
          <li><span class="item">16.2</span>KAS 有权在必要时修改本协议条款。您可以在相关服务页面查阅最新版本的协议条款。</li>
          <li><span class="item">16.3</span>本协议条款变更后，如果您继续使用 KAS 提供的软件或服务，即视为您已接受变更后的协议。</li>
        </ol>
        <h2>十七、【服务的变更、中断、终止】</h2>
        <ol>
          <li><span class="item">17.1</span>您理解并同意，KAS 基于经营策略的调整，可能会对服务内容进行变更，也可能会中断、中止或终止服务。</li>
          <li>
            <span class="item">17.3</span>如发生下列任何一种情形，KAS 有权不经通知而中断或终止向您提供服务：
            <ol>
              <li><span class="item">（1）</span>根据法律法规规定您应提交真实信息，而您提供的个人资料不真实、或与注册时信息不一致又未能提供合理证明。</li>
              <li><span class="item">（2）</span>您违反相关法律法规的规定或违反本协议的约定。</li>
              <li><span class="item">（3）</span>按照法律法规规定，司法机关或主管部门的要求。</li>
              <li><span class="item">（4）</span>出于安全的原因或其他必要的情形。</li>
            </ol>
          </li>
          <li><span class="item">17.4</span>KAS 有权按本协议 8.2 条的约定进行收费。若您未按时足额付费，KAS 有权中断、中止或终止提供服务。</li>
          <li><span class="item">17.5</span>您有责任自行备份存储在本服务中的数据。如果您的服务被终止，KAS 有权从服务器上永久地删除您的数据,法律法规另有规定的除外。服务中止或终止后，KAS 没有义务向您提供或返还数据。</li>
        </ol>
        <h2>十八、【其他】</h2>
        <ol>
          <li><span class="item">18.1</span>本协议签订地为中华人民共和国北京市海淀区。</li>
          <li><span class="item">18.2</span>本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</li>
          <li><span class="item">18.3</span>若您和 KAS 之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交本协议签订地（即北京市海淀区）有管辖权的人民法院管辖。</li>
          <li><span class="item">18.4</span>本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</li>
          <li><span class="item">18.5</span>本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</li>
          <li><span class="item">18.6</span>若本协议有中文、英文等多个语言版本，相应内容不一致的，均以中文版的内容为准。</li>
        </ol>
        <p class="noindent">（全文完）</p>
      </content>
    </main>
  </div>
</template>

<script>
export default {
  head: () => ({ title: 'KEEER 帐号服务协议' }),
  methods: { back () { this.$router.back() } },
}
</script>

<style scoped>
#wrapper {
  background-color: #f5fafd;
  color: #222;
  font-family: Roboto, sans-serif;
  padding: 16px;
  text-align: center;
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  #wrapper {
    background-color: #222;
    color: rgba(255, 255, 255, .8);
  }
}
h1 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 3.125rem;
  margin: 32px 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 16px 0;
}
p, li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 8px 0;
}
p { text-indent: 2em; }
p.noindent { text-indent: 0; }
ol {
  list-style: none;
  padding-left: 40px;
  margin-bottom: 16px;
}
ol ol { padding-left: 32px; }
.item {
  position: absolute;
  right: calc(100% + 8px);
  user-select: none;
}
li { position: relative; }
main {
  margin-top: 64px;
  max-width: 720px;
  display: inline-block;
  text-align: left;
}
.back {
  position: absolute;
  top: 12px;
  left: 12px;
  color: inherit !important;
}
</style>
